<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitUserApi" value="https://api.github.com/users/rajkarri"/>
    <add key="GitUsersApi" value="https://api.github.com/users"/>
    <add key="CustomerApi" value="http://localhost/Api/Customer"/>
  </appSettings>
</configuration>